/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 270px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
input {
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
}

textarea {
    height: 70px;
    flex: 0 0 200px;
    margin-left: 10px;
}